<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
  <h1>{{data.title2}}</h1>
  <h2>{{full_data.tagline}}</h2>
  <p>{{data.summary}}</p>

  {% if data._children|length == 0 %}
  <h2>Metadata</h2>
  <ul>
    <li>Year: {{full_data.year}}</li>
    <li>Duration: {% if (full_data.duration//3600000) > 0 %}{{(full_data.duration//3600000)}}h {% endif %} {% if (full_data.duration//60000)%60 > 0 %} {{(full_data.duration//60000)%60}} min{%endif%}</li>
    <li>Resolution: {{full_data._children.0.videoResolution}} ({{full_data._children.0.width}}x{{full_data._children.0.height}} @ {{full_data._children.0.videoFrameRate}})
      {% for fileobject in full_data._children.0._children %}
    <li>File: <a href="{{url_for('file', entry_id=full_data.ratingKey, file_id=loop.index0)}}">{{ fileobject.file }}</a> ({{(fileobject.size / 1048576)|round(2)}} MB)</li>
      {% endfor %}
  </ul>
  {% endif %}

  <ul>
  {% for x in data._children %}
  <li><a href="{{url_for('entry', entry_id=x.ratingKey)}}">{{x.title}}
    {% if x.leafCount %}({{x.leafCount}} entries){% endif %}</a></li>
  {% endfor %}
  </ul>
</body>
</html>
